# Dependencies
/node_modules

# Build output
/dist

# Client (React app)
/client/node_modules
/client/dist

/agents

# Drizzle migrations
/drizzle

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
stripe_listen.log

# OS-specific
.DS_Store
Thumbs.db